<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    {% block head %} {% endblock %}
</head>
<body>
    <div id="map"></div>
    {% block body %} {% endblock %}
</body>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwySV8Ondv-FG-Eoew561u2mwl3MEEt0I&callback=initMap&libraries=&v=weekly"
      async
    ></script>

</html>